<ion-content [fullscreen]="true">


  <form>

    <app-input label="Email" type="email"   [clear]="true" placeholder="owen@gmail.com" [required]="true" labelPlacement="stacked" fill="outline"></app-input>

    <app-input label="Password" type="password"  placeholder="********" [required]="true" labelPlacement="stacked" fill="outline"></app-input>


    <app-button ClickHere="Sign in" type="submit" size="small" shape="round" expand="block" fill="outline" > </app-button>

    <app-button ClickHere="Create an account" size="small" expand="block" fill="clear" routerLink="/register"></app-button>
    
    <app-togglet    [(value)]="language"
              left="🇺🇸"
              rigth="🇨🇴"
              (valueChange)="changeLang($event)"> 
      
    </app-togglet>


  </form>

</ion-content>