<ion-content>
  <ion-card>
    <ion-card-content>
      <form
      [formGroup]="registerForm"
      (ngSubmit)="doRegister()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <app-input
              type="text"
              [label]="'REGISTER.NAME' | translate"
              placeholder="Jane"
              [control]="name"
              ></app-input>
            </ion-col>
            <ion-col>
              <app-input
              type="text"
              [label]="'REGISTER.LASTNAME' | translate"
              placeholder="Doe"
              [control]="lastName"
              ></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input
              type="email"
              [label]="'REGISTER.EMAIL' | translate"
              placeholder="jane@doe.com"
              [control]="email"
              ></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input
              type="password"
              [label]="'REGISTER.PASSWORD' | translate"
              placeholder="**************"
              [control]="password"
              ></app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-link
              link="/login"
              [value]="'REGISTER.' | translate"
              ></app-link>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-button
              type="submit"
              color="dark"
              [disabled]="registerForm.invalid"
              [value]="'REGISTER.BUTTON' | translate"
              ></app-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>