<ion-content [fullscreen]="true">

  <form (submit)="onSubmit()">


    <app-input label="Name" type="text"   [clear]="true" placeholder="Valery" [required]="true" labelPlacement="stacked" fill="outline"></app-input>

    <app-input label="Lastname" type="text"   [clear]="true" placeholder="Parra" [required]="true" labelPlacement="stacked" fill="outline"></app-input>

    <app-input label="Email" type="email"   [clear]="true" placeholder="owen@gmail.com" [required]="true" labelPlacement="stacked" fill="outline"></app-input>


    <app-input label="Password" type="password"  placeholder="********" [required]="true" labelPlacement="stacked" fill="outline"></app-input>


    <app-button ClickHere="Sign up" type="submit" size="small" shape="round" expand="block" fill="outline" > </app-button>

    <app-button ClickHere="Already have account?" size="small" expand="block" fill="clear" routerLink="/login"></app-button>
  

    <!-- debo agregar el icono <-- usando la doc de ionic-->
  </form>
</ion-content>